body {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.nav-item.active a {
  color: red;
}

.lang {
  color: #fff;
  position: relative;
}

.check {
  position: relative;
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;

}

.check::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 20px;
  background: #fff;
  border-radius: 25px;
}

.check::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 0.25s;
  border: 2px solid #333;
  box-sizing: border-box;
}

.check:checked:after {
  left: 20px;
  border: 2px solid #00a1ff;
}

.check:checked:before {
  background: #00a1ff;

}

/* Media queries */

@media screen and (max-width: 420px) {
  body {
    font-size: 10px;
  }

  h4 {
    font-size: 1.2rem;
  }
}



@media screen and (max-width: 768px) {
  .card-img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}


@media screen and (min-width: 769px) and (max-width: 992px) {
  .card-img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}


@media screen and (max-width: 1062px) {
  a.nav-link {
    font-size: 10px;
  }
}


@media screen and (max-width: 1158px) {
  a.nav-link {
    font-size: 12px;
  }
}




@media screen and (max-width: 1199px) {

  /* El bootstrap sm md lg xl establece el máximo y en el media query lo que pasa antes del maximo*/
  div.row>div.card-body>div.container>div.row>div.col-xl-3 {
    font-size: 13px;
  }

  div.card-body>div.container {
    display: flex;
    align-items: center;
  }

}