body {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.nav-item.active a {
color: red;
}

.lang {
color: #fff;
position:relative;
}

.check{
position: relative;
width: 40px;
margin-left: 5px;
margin-right: 5px;

}
.check::before{
content: '';
position: absolute;
width: 40px;
height: 20px;
background: #fff;
border-radius: 25px;
}

.check::after{
content:'';
position:absolute;
width: 20px;
height: 20px;
background:#fff;
border-radius:20px;
transition: 0.25s;
border: 2px solid #333;
box-sizing: border-box;
}

.check:checked:after{
left: 20px;
border: 2px solid #00a1ff;
}

.check:checked:before{
background: #00a1ff;

}